# مشروع تحليل بيانات تصاريح تطبيق نُسُك لعام ١٤٤٤هـ

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('number-of-permits-from-the-nsk.csv')

In [8]:
df.head(10)

   عدد التصاريح من نسك نوع التصريح الجنس      اليوم
0                10815   روضة رجال   ذكر   1444/1/3
1                10591   روضة نساء  أنثى   1444/2/4
2                73039        عمرة   ذكر   1444/1/7
3                 8092   روضة رجال   ذكر  1444/1/16
4                14544   روضة نساء  أنثى  1444/3/12
5                 5051   روضة رجال   ذكر  1444/1/10
6                33656        عمرة   ذكر  1444/1/12
7                11990        عمرة  أنثى  1444/3/12
8                24554        عمرة   ذكر  1444/1/29
9                23393        عمرة  أنثى  1444/4/10